.btn-primary:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.active>.page-link {
  background-color: #FFD400 !important;
  border-color: #FFD400 !important;
  color: white !important;
}

.page-link {
  color: #FFD400 !important;
  border-color: #FFD400 !important;
}

.custom-modal> .modal-content {
  width: 1200px;
  max-width: none; /* Ensure the width is always 90% */
}
