html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  flex-grow: 1;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.no-outline {
  margin: 0 !important;
  padding: 0 !important;
}

.left-column {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  background-color: #f8f9fa; /* Optional: to distinguish the left column */
  padding: 1rem; /* Optional: to add some padding */
}

.right-column {
  margin-left: 25%;
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 991.98px) {
  .right-column {
    margin-left: 0;
  }
}

