html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  flex-grow: 1;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.no-outline {
  margin: 0 !important;
  padding: 0 !important;
}
