bg-white {
  background-color: #FFF !important;
}

.bg-orange {
  background-color: #F7A700 !important
}

.text-orange {
  color: #F7A700 !important
}

.text-info {
  color: #3571DE !important
}

.text-warning {
  color: #FFD400 !important
}

.text-success {
  color: #A8DD93 !important
}

.text-danger {
  color: #FDA4A3 !important
}
